<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Browse</title>
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1>Book Browse</h1>
      </header>
    {% if books %}
    <ul class="grid">
      {% for book in books %}

      <li class="card">
        <h2 class="card__title">
          <a class="card__link" href="{{ book.info }}">{{ book.title }}</a>
        </h2>
        <img
          class="card__image"
          width="128"
          height="190"
          src="{{ book.image }}"
          alt="{{ book.title }}"
        />
        <div class="card__author">by {{ book.authors }}</div>
        <div class="card__publisher">{{ book.publisher }}</div>
      </li>

      {% endfor %}
    </ul>
    {% else %}
    <div class="error">
      <h2>
        Sorry, no books
      </h2>
    </div>

    {% endif %}
  </body>
</html>
