<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Browse</title>
  </head>
  <body>
    <h1>Book Browse</h1>
    <form class="form" action="/books" method="GET">
      <label for="form--input-search"
        >Search for a book:
        <input
          type="text"
          class="form--input"
          id="form--input-search"
          name="search"
        />
      </label>
      <button class="form--button">Search</button>
    </form>
  </body>
</html>
