* {
  box-sizing: border-box;
}

html {
  font-size: 1.25rem;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: hsl(220, 20%, 98%);
  background-color: hsl(220, 30%, 12%);
  background-image: linear-gradient(
    135deg,
    hsl(220, 30%, 12%),
    hsl(220, 40%, 8%)
  );
}

h1,
h2 {
  margin: 0;
  font-weight: 900;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label,
input,
button {
  display: block;
  border: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button::-moz-focus-inner {
  border: 0;
}

.site-header {
  display: flex;
  align-items: center;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.site-header__logo {
  margin-right: 0.5rem;
}

.book-container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

@media (min-width: 60em) {
  .book-container {
    padding: 2rem 4rem;
  }
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1.5rem;
}

.form {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  align-self: center;
}

.field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  border-radius: 0.25rem;
  background-color: hsl(220, 30%, 70%);
  box-shadow: 0 2px 6px hsla(220, 10%, 10%, 0.5);
  overflow: hidden;
  transition: background-color 0.2s;
}

.field:focus-within {
  background-color: hsl(220, 30%, 92%);
  box-shadow: 0 2px 6px hsla(220, 10%, 10%, 0.5),
    0 2px 12px hsla(220, 10%, 10%, 0.5);
}

.field__input {
  flex: 1;
  padding: 0.5rem;
  color: hsl(220, 20%, 20%);
}

.field:focus-within .field__input {
  outline: 0; /* only disable input outline if :focus-within works */
}

.field__button {
  padding: 0.5rem 1rem;
  color: hsl(220, 20%, 20%);
  transition: background-color 0.2s;
}

.field__button:hover,
.field__button:focus {
  background-color: hsl(220, 30%, 80%);
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 2rem;
}

.card {
  position: relative;
  display: grid;
  box-shadow: 0 2px 6px hsla(220, 10%, 10%, 0.6),
    0 2px 12px hsla(220, 10%, 10%, 0.6);
  border-radius: 0.25rem;
  padding: 2rem 1.5rem 1.5rem;
  font-weight: 300;
  background-color: hsl(220, 32%, 18%);
  color: hsl(220, 30%, 80%);
  cursor: pointer;
  transition: background-color 0.2s;
}

.card:hover {
  background-color: hsl(220, 32%, 20%);
}

.card__image {
  order: -1;
  justify-self: center;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px hsla(220, 10%, 10%, 0.6);
}

.card__title {
  margin-top: 1.5rem;
  line-height: 1;
}

.card__link {
  text-decoration: none;
}

.card__link:hover,
.card__link:focus {
  text-decoration: underline;
}

.card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__publisher {
  margin-top: 1rem;
  text-align: right;
  align-self: end;
  font-size: 0.875rem;
  color: hsl(200, 30%, 75%);
}

.error {
  margin-top: 1.5rem;
  box-shadow: 0 2px 6px hsla(220, 10%, 10%, 0.6),
    0 2px 12px hsla(220, 10%, 10%, 0.6);
  border-radius: 0.25rem;
  padding: 2rem 1.5rem 1.5rem;
  font-weight: 300;
  background-color: hsl(220, 32%, 18%);
  color: hsl(220, 30%, 80%);
}
